package {{.SecurityPackage}};

{{if .HasLombok}}
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{{end}}
{{if .HasValidation}}
import {{.ValidationImport}}.constraints.Email;
import {{.ValidationImport}}.constraints.NotBlank;
import {{.ValidationImport}}.constraints.Size;
{{end}}

{{if .HasLombok}}
@Data
@Builder
@AllArgsConstructor
@NoArgsConstructor
{{end}}
public class RegisterRequest {

{{if .HasValidation}}
    @NotBlank(message = "Email is required")
    @Email(message = "Invalid email format")
{{end}}
    private String email;

{{if .HasValidation}}
    @NotBlank(message = "Password is required")
    @Size(min = 8, message = "Password must be at least 8 characters")
{{end}}
    private String password;

{{if .HasValidation}}
    @NotBlank(message = "First name is required")
{{end}}
    private String firstName;

{{if .HasValidation}}
    @NotBlank(message = "Last name is required")
{{end}}
    private String lastName;
{{if not .HasLombok}}

    public RegisterRequest() {
    }

    public RegisterRequest(String email, String password, String firstName, String lastName) {
        this.email = email;
        this.password = password;
        this.firstName = firstName;
        this.lastName = lastName;
    }

    public String getEmail() {
        return email;
    }

    public void setEmail(String email) {
        this.email = email;
    }

    public String getPassword() {
        return password;
    }

    public void setPassword(String password) {
        this.password = password;
    }

    public String getFirstName() {
        return firstName;
    }

    public void setFirstName(String firstName) {
        this.firstName = firstName;
    }

    public String getLastName() {
        return lastName;
    }

    public void setLastName(String lastName) {
        this.lastName = lastName;
    }
{{end}}
}
