package {{.ExceptionPackage}};

import org.springframework.http.HttpStatus;
import org.springframework.web.bind.annotation.ResponseStatus;

@ResponseStatus(HttpStatus.SERVICE_UNAVAILABLE)
public class ServiceUnavailableException extends RuntimeException {

    public ServiceUnavailableException(String message) {
        super(message);
    }

    public ServiceUnavailableException(String message, Throwable cause) {
        super(message, cause);
    }

    public ServiceUnavailableException(String serviceName) {
        super(String.format("Service '%s' is currently unavailable. Please try again later", serviceName));
    }

    public ServiceUnavailableException() {
        super("Service is temporarily unavailable. Please try again later");
    }
}
