package {{.ExceptionPackage}};

import org.springframework.http.HttpStatus;
import org.springframework.web.bind.annotation.ResponseStatus;

@ResponseStatus(HttpStatus.UNSUPPORTED_MEDIA_TYPE)
public class UnsupportedMediaTypeException extends RuntimeException {

    public UnsupportedMediaTypeException(String message) {
        super(message);
    }

    public UnsupportedMediaTypeException(String message, Throwable cause) {
        super(message, cause);
    }

    public UnsupportedMediaTypeException(String mediaType, String[] supportedTypes) {
        super(String.format("Media type '%s' is not supported. Supported types: %s", 
                mediaType, String.join(", ", supportedTypes)));
    }
}
