plugins {
    id 'java'
    id 'org.springframework.boot' version '{{.SpringBootVersion}}'
    id 'io.spring.dependency-management' version '1.1.7'
}

group = '{{.GroupId}}'
version = '{{.Version}}'

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of({{.JavaVersion}})
    }
}

repositories {
    mavenCentral()
}

dependencies {
    implementation 'org.springframework.boot:spring-boot-starter'
{{range .Dependencies}}    {{.GradleScope}} '{{.GroupId}}:{{.ArtifactId}}{{if .Version}}:{{.Version}}{{end}}'
{{end}}    testImplementation 'org.springframework.boot:spring-boot-starter-test'
    testRuntimeOnly 'org.junit.platform:junit-platform-launcher'
}

tasks.named('test') {
    useJUnitPlatform()
}
