package {{.FeaturePackage}};

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
{{if .IDImport}}import {{.IDImport}};{{end}}

@Repository
public interface {{.Name}}Repository extends JpaRepository<{{.Name}}, {{.IDType}}> {
}
