package {{.FeaturePackage}}{{if not .FeatureStyleFlat}}.dto{{end}};

{{if .HasLombok}}import lombok.*;{{end}}
{{if .IDImport}}import {{.IDImport}};{{end}}

{{if .HasLombok}}{{if .Lombok.UseData}}@Data{{else}}@Getter
@Setter{{end}}
{{if .Lombok.UseNoArgs}}@NoArgsConstructor{{end}}
{{if .Lombok.UseAllArgs}}@AllArgsConstructor{{end}}
{{if .Lombok.UseBuilder}}@Builder{{end}}{{end}}
public class {{.ResponseSuffix}} {

    private {{.IDType}} id;
{{if not .HasLombok}}
    public {{.ResponseSuffix}}() {
    }

    public {{.IDType}} getId() {
        return id;
    }

    public void setId({{.IDType}} id) {
        this.id = id;
    }
{{end}}
}
