package {{.FeaturePackage}};

{{if .IDImport}}import {{.IDImport}};{{end}}

import java.util.List;

public interface {{.Name}}Service {

    List<{{.ResponseSuffix}}> findAll();

    {{.ResponseSuffix}} findById({{.IDType}} id);

    {{.ResponseSuffix}} create({{.RequestSuffix}} request);

    {{.ResponseSuffix}} update({{.IDType}} id, {{.RequestSuffix}} request);

    void delete({{.IDType}} id);
}
